---
layout: default
---

<div class="nav-link">
  <a href="{{ '/' | relative_url }}">../homePage</a>
</div>
  
  
  
<article>
  <h2>{{ page.title }}</h2>
  <p>{{ page.date | date: "%B %d, %Y" }}</p>
  {{ content }}
  
<!--    {% for tag in page.tags %}
      <a href="{{ '/tags/' | append: tag | relative_url }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %} --> 
  </p> 
</article>
  
  
  
<div class="nav-link">
  <a href="{{ '/' | relative_url }}">../homePage</a>
</div>